<h1> Pick a card! Any Card </h1> 

<% suits = ["clubs", "spades", "hearts", "diamonds"]
ranks = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "jack", "queen", "king", "ace"]

deck = []
for rank in ranks 
    for suit in suits
        card = "#{rank}_of_#{suit}"
        deck.push(card)
    end
end

shuffled_deck = deck.shuffle
hand = shuffled_deck[0, 5]
index = 0
%>
<% for card in hand%>
 <img src="/images/cards/<%=card%>.svg">
<% end %>

<h1><a href ="/cards"> Deal Again, patner! </a></h1>
